<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Map</title>
  <link rel="stylesheet" href="static/leaflet/leaflet.css" />
 <script src="static/leaflet/leaflet.js"></script>
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>
</head>

<body>  
  <table width="100%" border="1" align="center">
    <tr><td colspan="100%" align="center"><button id="returnHome">Return to Eugene</button></td></tr>
    <tr>
      <td align="center">Latitude: <input type="text" id="lat" placeholder="Latitude"></td>
      <td align="center">Longtitude: <input type="text" id="long" placeholder="Longitude"></td>
    </tr>
    <tr>
      <td align="center"><a id="export" href="" download="exportPins.txt">Export Pin Locations</a></td>
      <td align="center">Import Pin Locations: <input type="file" onchange="onFileSelected(event)"></td>
    </tr>
    <tr>
      <td colspan="100%" align="center"><div id="mapid" style="width: 100%; height: 400px;"></div></td>
    </tr>
  
    
    </table>
  {% for entry in session.poi %}
    <input type="hidden" value="{{entry}}">
  {% endfor %}
  
</body> </html>
<script>  
$(function() {
  startCoordinates = new L.latLng(44.052, -123.086);
  startZoom = 13;
  
  markerArray = new Array();
  
  $('#lat').val(startCoordinates.lat);
  $('#long').val(startCoordinates.lng);
  
  var mymap = L.map('mapid').setView(startCoordinates, startZoom);
  L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token={{ secret_token }}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    accessToken: '{{ secret_token }}'
  }).addTo(mymap);
  mymap.on('click', placeMarker);
  mymap.on('dragend', updateLatLong);
  
  //Only want 1 temporary popup for lat/long searches
  tmpPopUp = L.popup();
  
  function updateLatLong(e) {
    $('#lat').val(mymap.getCenter().lat);
    $('#long').val(mymap.getCenter().lng);
  }
  
  function placeMarker(e, marker=true, extraStr='') {
    var popup = L.popup();
    popup
        .setLatLng(e.latlng)
        .setContent('Searching...')
        .openOn(mymap);
  
    if(marker == true) {
      var markerTemp = L.marker().setLatLng(e.latlng).bindPopup(popup).addTo(mymap);
      mymap.addLayer(markerTemp);
      markerArray.push(markerTemp);
    }
    getAddress(e.latlng, popup, extraStr);
  }
  
  $("#export").click(function(){
    console.log(markerArray);
    console.log(markerArray[0].getLatLng());
    pinLocations = new Array();
    for(i = 0;i < markerArray.length; i++) {
      pinLocations.push(markerArray[i].getLatLng().lat + ', ' + markerArray[i].getLatLng().lng); 
    }
    console.log(pinLocations.join("\n"));
    this.href = "data:text/plain;charset=UTF-8,"  + encodeURIComponent(pinLocations.join("\n"));
  });
  $('#returnHome').on('click', function() {
    mymap.setView(startCoordinates, startZoom);
    updateLatLong($(this));
  });

  /* Lat Long search */
  $('#lat, #long').on('keyup', function() {
    var lat = $('#lat').val();
    var long = $('#long').val();
    var latLngObj = new L.latLng(lat, long);
    placeMarker({latlng: latLngObj}, false);
  });
  
  //Points of Interest
  $("input[type=hidden]").each(function() {
    popupTemp = L.popup()
    split = $(this).val().split(',');
    split[1] = split[1].replace(/\s+/g, '');
    split[2] = split[2].replace(/\s+/g, '');
    placeMarker({latlng: L.latLng(split[1],split[2])}, true, split[0] + "<br>");
  });
  
  function getAddress(latLng, popup, additionalStr='') {
    $.ajax({
        type: "GET",
        url: "https://api.mapbox.com/geocoding/v5/mapbox.places/" + latLng['lng'] + "," + latLng['lat'] + ".json?access_token=pk.eyJ1IjoiZGhpbGxvbnNoIiwiYSI6ImNpdWxpMmtzZTAwNG4yenFtbDgwZnYwa2oifQ.UXiMpdCUjajpzzx3Zd0o_Q",
        success: function(data) {
          if('features' in data && data['features'].length > 0 && 'place_name' in data['features'][0])
            popup.setContent(additionalStr + data['features'][0]['place_name']);
          else popup.setContent('Address not found.');
        }
    });
  }
  
  function onFileSelected(event) {
    var selectedFile = event.target.files[0];
    var reader = new FileReader();

    //var result = document.getElementById("result");

    reader.onload = function(event) {
      console.log(event.target.result);
      result.innerHTML = event.target.result;
    };

    reader.readAsText(selectedFile);
  }
  
});
  </script>
