<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Course Schedule</title>
  <link rel="stylesheet" href="static/leaflet/leaflet.css" />
 <script src="static/leaflet/leaflet.js"></script>
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>
</head>

<body>
<div id="mapid" style="width: 600px; height: 400px;"></div>

  {% for entry in session.poi %}
    <input type="hidden" value="{{entry}}">
  {% endfor %}
  
</body> </html>
<script>
$(function() {
  var mymap = L.map('mapid').setView([44.052, -123.086], 13);
  
  L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZGhpbGxvbnNoIiwiYSI6ImNpdWxpMmtzZTAwNG4yenFtbDgwZnYwa2oifQ.UXiMpdCUjajpzzx3Zd0o_Q', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    accessToken: 'pk.eyJ1IjoiZGhpbGxvbnNoIiwiYSI6ImNpdWxpMmtzZTAwNG4yenFtbDgwZnYwa2oifQ.UXiMpdCUjajpzzx3Zd0o_Q'
  }).addTo(mymap);
  
  
  //var marker = L.marker([51.5, -0.09]).addTo(mymap);
  //marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup()
  
  
  var popup = L.popup();

  function onMapClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent(getAddress(e.latlng))
        .openOn(mymap);
  
    var markerTemp = L.marker().setLatLng(e.latlng).bindPopup(popup).addTo(mymap);
  }

  //mymap.locate({setview:true});
  mymap.on('click', onMapClick);
  
  $("input[type=hidden]").each(function() {
    popupTemp = L.popup()
    split = $(this).val().split(',');
    split[1] = split[1].replace(/\s+/g, '');
    split[2] = split[2].replace(/\s+/g, '');
      var latlng = L.latLng(split[1],split[2]);
      getAddress(latlng);
      popupTemp
        .setLatLng(latlng)
        .setContent(split[0])
        .openOn(mymap);
  
    var markerTemp = L.marker().setLatLng(latlng).bindPopup(popupTemp).addTo(mymap);
  });
  
  function getAddress(latLng) {
    var result = false;
    $.ajax({
        type: "GET",
        url: "https://api.mapbox.com/geocoding/v5/mapbox.places/" + latLng['lng'] + "," + latLng['lat'] + ".json?access_token=pk.eyJ1IjoiZGhpbGxvbnNoIiwiYSI6ImNpdWxpMmtzZTAwNG4yenFtbDgwZnYwa2oifQ.UXiMpdCUjajpzzx3Zd0o_Q",
        async: false,  
      success: function(data) {
            //line added to save ajax response in var result
          console.log(data['features'][0]['place_name']);
          this.result = data['features'][0]['place_name'];
        }
      });
    console.log('Result = [' + result + ']');
    return result;
  }
   /* $.getJSON(, {}, 
      function(data) {
        returnData = data['features'][0]['place_name'];
      }
     );
    console.log('Return - ' + returnData);
    return returnData;
  }*/
});
  </script>
