<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Course Schedule</title>
  <link rel="stylesheet" href="static/leaflet/leaflet.css" />
 <script src="static/leaflet/leaflet.js"></script>
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>
</head>

<body>
<div id="mapid" style="width: 600px; height: 400px;"></div>
  <table>
    <tr><td><button id="returnHome">Return to Eugene</button></td></tr>
    <tr>
      <td><input type="text" id="lat" placeholder="Latitude"></td>
      <td><input type="text" id="long" placeholder="Longitude"></td>
      <td><button id="latlongSearch">Search</button></td>
    </tr>
  
    
    <table>
  {% for entry in session.poi %}
    <input type="hidden" value="{{entry}}">
  {% endfor %}
  
</body> </html>
<script>
$(function() {
  startCoordinates = new L.latLng(44.052, -123.086);
  startZoom = 13;
  
  $('#lat').val(startCoordinates.lat);
  $('#long').val(startCoordinates.lng);
  var mymap = L.map('mapid').setView(startCoordinates, startZoom);
  
  L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token={{ secret_token }}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    accessToken: '{{ secret_token }}'
  }).addTo(mymap);

  tmpPopUp = L.popup();
  function placeMarker(e, marker=true) {
    var popup = L.popup();
    popup
        .setLatLng(e.latlng)
        .setContent('Searching...')
        .openOn(mymap);
  
    if(marker == true) var markerTemp = L.marker().setLatLng(e.latlng).bindPopup(popup).addTo(mymap);
    getAddress(e.latlng, popup);
  }
  
  mymap.on('click', placeMarker);
  
  $('#returnHome').on('click', function() {
    mymap.locate({setView: true});//mymap.setView(startCoordinates, startZoom);
  });
/*  $('#lat, #long').on('keyup', function() {
    
    
    
  });*/
  $('#lat, #long').on('keyup', function() {
    var lat = $('#lat').val();
    var long = $('#long').val();
    var latLngObj = new L.latLng(lat, long);
    //placeMarker({latlng: latLngObj});
    mymap.setView(latLngObj, startZoom);
    tmpPopUp
        .setLatLng(latLngObj)
        .setContent("Searching...")
        .openOn(mymap);
   getAddress(latLngObj, tmpPopUp);
  });
  
  //Points of Interest
  $("input[type=hidden]").each(function() {
    popupTemp = L.popup()
    split = $(this).val().split(',');
    split[1] = split[1].replace(/\s+/g, '');
    split[2] = split[2].replace(/\s+/g, '');
      var latlng = L.latLng(split[1],split[2]);
      popupTemp
        .setLatLng(latlng)
        .setContent('Searching...')
        .openOn(mymap);
  
    var markerTemp = L.marker().setLatLng(latlng).bindPopup(popupTemp).addTo(mymap);
    getAddress(latlng, popupTemp, split[0] + "<br>");
  });
  
  function getAddress(latLng, popup, additionalStr='') {
    var result = false;
    $.ajax({
        type: "GET",
        url: "https://api.mapbox.com/geocoding/v5/mapbox.places/" + latLng['lng'] + "," + latLng['lat'] + ".json?access_token=pk.eyJ1IjoiZGhpbGxvbnNoIiwiYSI6ImNpdWxpMmtzZTAwNG4yenFtbDgwZnYwa2oifQ.UXiMpdCUjajpzzx3Zd0o_Q",
        success: function(data) {
          if('features' in data && data['features'].length > 0 && 'place_name' in data['features'][0])
            popup.setContent(additionalStr + data['features'][0]['place_name']);
          else popup.setContent('Address not found.');
        }
    });
    return result;
  }
});
  </script>
